<html ng-app ='UserInfo'>
<title>
SocialFoodNetwork
</title>
<head>
<link rel="stylesheet" type="text/css" href= "../ExternalLib/dist/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="../Layouts/Basic_Layout.css"></link>

<script src="../ExternalLib/angular.min.js"></script>
<script src="../ExternalLib/ui-bootstrap-tpls-0.12.0.js"></script>
<script src="../JS/angular-file-upload.js"></script>

<script src="../JS/User_Info.js"></script>
<script src="../JS/Create.js"></script>


</head>
<body class="generalBG">
	<div ng-controller="ModalDemoCtrl">
  <script type="text/ng-template" id="createAccount.html">
    <div class="createaccount">
      <div>
        <h3 class="modaltitle">Create Account</h3>
      </div>
      <div class="modal-body">
        <form name="myForm">
        <ul>
          <label> Userame: &nbsp;
          </label>
          <p><input name='name' type="text" required ng-model="items.username" ng-minlength=3 ng-maxlength=20 placeholder="User Name" /><br> </p>
          <div class="error" ng-show="myForm.name.$dirty && myForm.name.$invalid">
            <small class="error" ng-show="myForm.name.$error.required">
            Your name is required.
            </small>
            <small class="error" ng-show="myForm.name.$error.minlength">
            Your name is required to be at least 3 characters
            </small>
            <small class="error" ng-show="myForm.name.$error.maxlength">
            Your name cannot be longer than 20 characters
            </small>
          </div>

          <label>E-mail:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </label>
          <p><input name='email' type="email" required ng-model="items.email"  placeholder="E-mail Address" /><br />
          <div class="error" ng-show="myForm.email.$dirty && myForm.email.$invalid">
            <small class="error" ng-show="myForm.email.$error.required">
              Your email is required.
            </small>
            <small class="error" ng-show="myForm.email.$error.email">
             That is not a valid email. Please input a valid email.
            </small>
          </div>

        <label> Password:
        </label>
        <p><input name='password' type="text" required ng-model="items.password" ng-minlength=3 ng-maxlength=20 placeholder="Password" />
        <br> </p>
        <div class="error" ng-show="myForm.password.$dirty && myForm.password.$invalid">
          <small class="error" ng-show="myForm.password.$error.required">
            Your password is required.
          </small>
          <small class="error" ng-show="myForm.password.$error.minlength">
            Your password is required to be at least 3 characters
          </small>
          <small class="error" ng-show="myForm.password.$error.maxlength">
            Your password cannot be longer than 20 characters
          </small>
        </div>

        <div class="row"> 
          <div class="col-xs-6">
            <div ng-controller="TimepickerDemoCtrl">
              <label>Country:</label>
              <select class="form-control" ng-model="items.country" ng-options="opt for opt in options.hstep"></select>
            </div>
          </div>
      </ul>
         
        <div class="modal-footer" ng-controller="ModalDemoCtrl">
            <button class="btn" ng-click="ok()">OK</button>
            <button class="btn" ng-click="cancel()">Cancel</button>
        </div>

    </script>
    <button class="btn" ng-click="Account()">Create Account</button>
 
    <div ng-show="selected">Selection from a modal: {{ slected }}</div>
</div>

</body>
</html>