<!doctype html>

<html ng-app ='UserInfo'>
<head>
	<title>
	User Home Page
	</title>
	<link rel="stylesheet" type="text/css" href= "../ExternalLib/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../Layouts/Basic_Layout.css">

	<script src="../ExternalLib/angular.min.js"></script>
	<script src="../ExternalLib/ui-bootstrap-tpls-0.12.0.js"></script>
	<script src="../JS/angular-file-upload.js"></script>

	<script src="../JS/User_Info.js"></script>
	<script src="../JS/Bas_Home_Funcs.js"></script>
	<script src="../js/Post_recipe.js"></script> 
</head>

<body>
	<!--Show All users-->
	
</body>
</html>