<!doctype html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<link rel="stylesheet" type="learning.css" href="">
<html ng-app ='happy' >
<title>
SocialFoodNetwork
</title>

<head>
	<h2>WebApplication</h2>
	<link rel="stylesheet" type="text/css" href="../Layouts/learning.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<script src="../JS/help.js"></script>
 

</head>
<body>
	
   <p><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById

('fade').style.display='block'"><button>Login</button></a></p> 
        <div id="light" class="white_content">Please login to proceed to your account. <a href = "javascript:void(0)" onclick = "document.getElementById

('light').style.display='none';document.getElementById('fade').style.display='none'">click to close</a> 
        <p>Username <input></p>
        <p>Password <input></p>
        <BUTTON>submit</BUTTON>
        <p>
<BUTTON> Forgot password?</BUTTON>
        </p>

      </div>
      <div><p><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById
      ('fade').style.display='block'"><button>create new account</button></a></p> 
        <div id="light" class="white_content">Please create a new account. <a href = "javascript:void(0)" onclick = "document.getElementById

('light').style.display='none';document.getElementById('fade').style.display='none'">close</a> 
        <p>EmailAddress <input></p>
        <p>Username <input></p>
        <p>Password <input></p>
        <p>Country <input></p>
       <p> 
       	<BUTTON>submit</BUTTON>
        
        </p>

      </div>
        <div id="fade" class="black_overlay"></div> 
    	
</body>
</html>