<!doctype html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html ng-app ='UserInfo' >
<title>
SocialFoodNetwork
</title>

<head>
	<h2>Food Social Network</h2>
	<link rel="stylesheet" type="text/css" href= "../dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../Layouts/learning.css">
  
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<script src="../JS/User_Info.js"></script>
 

</head>
<body>

<div ng-controller = "Login">	
   <p><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById
('fade').style.display='block'"><button>Login</button></a></p> 
        <div id="light" class="white_content">Please login to proceed to your account. <a href = "javascript:void(0)" onclick = "document.getElementById

('light').style.display='none';document.getElementById('fade').style.display='none'">click to close</a> 
        <p>Username <input type ="text" name = "user.name" ng-model="setInfo.Name" ></p>
        <p>Password <input type ="text" name = "user.pword" ng-model="setInfo.PWord" ></p>
        <BUTTON>submit</BUTTON>
        <p>
<BUTTON> Forgot password?</BUTTON>
        </p>

      </div>
      <div><p><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById
      ('fade').style.display='block'"><button>create new account</button></a></p> 
        <div id="light" class="white_content">Please create a new account. <a href = "javascript:void(0)" onclick = "document.getElementById

('light').style.display='none';document.getElementById('fade').style.display='none'">close</a> 
        <p>Email Address <input></p>
        <p>Username <input></p>
        <p>Password <input></p>
        <p>Country <input></p>
       <p> 
       	<BUTTON>submit</BUTTON>
        
        </p>

      </div>
    </div>
        <div id="fade" class="black_overlay"></div> 
    	
<modal-dialog show='modalShown' width='750px' height='90%'>
  <p>Modal Content Goes here<p>
</modal-dialog>
</body>
</html>