<!doctype html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html ng-app ='UserInfo'>
<title>
SocialFoodNetwork
</title>


	<h2>Food Social Network</h2>
  <link rel="stylesheet" type="text/css" href= "../ExternalLib/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../Layouts/learning.css">


	<script src="../ExternalLib/angular.min.js"></script>
  <script src="../ExternalLib/ui-bootstrap-tpls-0.12.0.min.js"></script>
	<script src="../JS/User_Info.js"></script>
  <script src="../JS/TestBS.js"></script>
 
</head>
<body>
<h4> "Meat your Pears"</h4>
<P>
Welcome to the food social network. <br> Food social network is a website where you can upload, view and share your favorite recipes or even search any new recipes that you would like to try out. <br> Have a nice meal :)
</P>

<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Welcome :) !</h3>
<P> Please login your credentials to proceed to your  user homepage </P>
        </div>
        <div class="modal-body">
            <ul>
                Username <input type='text' ng-model = 'setInfo.name'>
                Password <input type= 'text' ng-model = 'setInfo.Password'>
            </ul>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-primary" ng-click="Forgot password?()">Forgot Password?</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>

    </script>

    <button class="btn btn-default" ng-click="open()">Login</button>
    <button class="btn btn-default" ng-click="open('lg')">Create new account</button>
   
<div>
    <br>
  <h1>
Browse For Recipes Here
  </h1> 
    
    <div> <input><button>Search</button> </div>

</div>
 
</div>
<h1>

Need to share a recipe with your friends?
<br>
 <button class="btn btn-default" ng-click="Open()">Upload Recipe</button> 
</body>
</html>