<html ng-app="UserInfo">
<title>
NEW RECIPE
</title>
<head>
	<h1>POST YOUR RECIPE here</h1>
<link rel="stylesheet" type="text/css" href= "../ExternalLib/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../Layouts/post recipe.css">
<script src="../ExternalLib/angular.min.js"></script>
<script src="../ExternalLib/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="../JS/User_Info.js"></script>
<script src="../JS/Post_recipe.js"></script>

</head>
<body>


<div ng-controller="PostRecipe">
    <script type="text/ng-template" id="postrecipe.html">
        <div class="modal-header">
            <h2> UPLOAD RECIPE </h2>

            <p> This section helps you post your recipe online so your friends and other users can view, rate or share it.
            </p>
            <label> Title<br>
            <input type="text" ng-model='items.title'><br>
            <label>Instruction<br> 
            <textarea class="uploadtx"> </textarea><br>
            <label>Time<br>
            <input><br>

            <ul class="ListFormat">
            <li>
            <label>Ingredient<br>
            <input class="small_Input">
            </li>
            <li>
            <label>Amount:<br>
            <input class="small_Input">
            </li>
            <li>
            <label>Unit:<br>
            <input class="small_Input">
            </li>
            <li>
            <label>Optional<br>
            <input class="small_Input" type="checkbox" name="ingredient" value="optional">
            </li>
            </ul><br>
            <button class="upload">ADD</button><br>

            <textarea></textarea><br>
        </div> 
        
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Post Recipe</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <button class="btn btn-default" ng-click="RecepieWO()">Upload Recipe</button>
   </div> 
</body>

</html>