<!doctype html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<title>
  SocialFoodNetwork
</title>

<head>
	<h2>WebApplication</h2>

  <link rel="stylesheet" type="text/css" href= "../ExternalLib/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href= "../Layouts/CreateRecepie.css">

	<script src="../ExternalLib/angular.min.js"></script>
  <script src="../ExternalLib/ui-bootstrap-tpls-0.12.0.min.js"></script>
	<script src="../JS/TestBS.js"></script>
 

</head>
<body>
  <div class ="Bla">
  bla bla bla
 </div>
</body>
</html>