<!doctype html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<title>
  SocialFoodNetwork
</title>

<head >
	<h2 class ="generalT">WebApplication</h2>

  <link rel="stylesheet" type="text/css" href= "../ExternalLib/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href= "../Layouts/CreateRecepie.css">
  <link rel="stylesheet" type="text/css" href= "../Layouts/CreateRecepie.css">

	<script src="../ExternalLib/angular.min.js"></script>
  <script src="../ExternalLib/ui-bootstrap-tpls-0.12.0.min.js"></script>
	<script src="../JS/TestBS.js"></script>
 
</head>
<body class = "generalB">

<button class="a">
wohooo
</button>

<div class ="AllRecepies">
  <table class ="recepie">
    <tr>
    <td>lambad</td>
    <td>
      <ul>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>lkjgflksdj algjdfsalgj </li>
      </ul>
    </td>
  </tr>
    <tr>
    <td>lambada dlsak kgkdhg Peter kjasd khas hkjagf ak ujiskdh hjgsaklshjf khfdsa sakljh kjhsdgg sdakj l</td>
  </tr>

</div>
 </table>
</body>
</html>