<!doctype html>

<html>

<head>
<title>
User Home Page
</title>


	<h1>Welcome Back "Victoria" (UserName)</h1>
  <link rel="stylesheet" type="text/css" href= "../ExternalLib/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../Layouts/user layout.css">

<h2> 'Meat' your 'Pears' </h2>

	<script src="../ExternalLib/angular.min.js"></script>
  <script src="../ExternalLib/ui-bootstrap-tpls-0.12.0.min.js"></script>
	<script src="../JS/User_Info.js"></script>
  <script src="../JS/TestBS.js"></script>
 
</head>
<body>
	<p>
	Hello "Victoria (User Name)", find what your friends have been up to here in the food social network. You can also upload a new recipe for them to try out. Dont forget to click on the 'submit' button after. Enjoy optical nutrition while going through the different recipes!
	</p>
	<br>
	

<div class="dropdown">
  <button id="dLabel" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
    Upload Recipe <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby-vertically="dLabel">
    <li><a id="Menu1" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" ng-click="open()" > upload Recipe</a></li>
    <li><a type="button" id="Menu2" class="dropdown-toggle" data-toggle="dropdown" >Ingredients and Tips</a></li>
    <li class="divider"></li>
  </ul>
</div>
  




</body>
</html>