<!doctype html>

<html ng-app ='UserInfo'>
<head>
<title>
User Home Page
</title>
  <link rel="stylesheet" type="text/css" href= "../ExternalLib/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../Layouts/Basic_Layout.css">
 

	<script src="../ExternalLib/angular.min.js"></script>
  <script src="../ExternalLib/ui-bootstrap-tpls-0.12.0.js"></script>
  <script src="../JS/angular-file-upload.js"></script>

	<script src="../JS/User_Info.js"></script>
  <script src="../JS/Bas_Home_Funcs.js"></script>
  <script src="../js/Post_recipe.js"></script>
 
</head>
<body class="generalBG">
  <div class="FSN_Head" ng-controller="testController">
    <h1>Welcome Back {{userName}}</h1>
    <h2> 'Meat' your 'Pears' </h2>
    <p>Hello {{userName}}, find what your friends have been up to here in the food social network. You can also upload a new recipe for them to try out. Dont forget to click on the 'submit' button after. Enjoy optical nutrition while going through the different recipes!
    </p>
    <br>

  </div>

   <!--The Toolbar-->
  <div ng-controller="ButtonsControles">
     <div class="input-group input-group-lg">
      <div class="input-group-btn">
        <button class="btn" ng-click="logout()">Logout</button>
        <button class="btn" ng-click="GetAllMyRecipes()">My Recipes</button>
        <button class="btn" ng-click="GetUserInfo()">Settings</button>
        <button class="btn" ng-click="GetAllMyFavorites(ListRecipes = !ListRecipes)">Favorites</button>
        <button class="btn" ng-click="MyFriends(MyFriends_Collapse = !MyFriends_Collapse)">My Friends</button>
        <buttpm class="btn" ng-include src="template.url"></bitton>
      </div>
        <input type="text" ng-model = 'searchString' class="form-control">
      <div class="input-group-btn">
        <button class="btn" ng-click="SearchRecipes(false,searchString)">Search</button>
      </div>
      </div>

    <!--Show All User Recipes-->
      <div collapse="URecipes_Collapse" >
        <ul class="ListFormat">
          <li ng-repeat="recipe in AllUserRecipes">
            <div class ="row singleRecipe">
              <div class="col-xs-10">{{recipe.recipeTitle}}</div>
              <div class="col-xs-4"> <img ng-src="http://83.254.221.239:9000/recipePicture/{{ recipe.recipeID }}?sessionID={{ session }}" width="75px" height="75px" ng-click="ShowSingleRecipe(recipe.recipeID)"/></div>
              
              <div class="col-xs-10">Created by: {{recipe.creator}}</div>
              <div class="col-xs-15">
                <button class="btn" ng-click="DeleteRecipe(recipe.recipeID)">Delete</button>
                <button class="btn" ng-click="EditRecipe(recipe.recipeID)">Edit</button>
                <!--button class="btn" ng-include src="template2.url"--><!--/button-->
              </div>
            </div>
          </li>
        </ul> 
      <!--Show All Favorites-->
      </div>

      <div collapse="ListRecipes">
        <ul class="ListFormat">
          <li ng-repeat="recipe in AllFavoriteRecipes">
            <div class ="row singleRecipe">
              <div class="col-xs-10">{{recipe.recipeTitle}}</div>
              <div class="col-xs-4"> <img ng-src="http://83.254.221.239:9000/recipePicture/{{ recipe.recipeID }}?sessionID={{ session }}" width="75px" height="75px" ng-click="ShowSingleRecipe(recipe.recipeID)"/></div>
              <div class="col-xs-6">
              
              </div>
              <div class="col-xs-10">Created by: {{recipe.creator}}</div>
              <div class="col-xs-15"><button class="btn" ng-click="RemoveFromFavorite(recipe.recipeID)">Remove from favorites</button></div>
            </div>
          </li>
        </ul> 
      <!--Show All Favorites-->
    </div>

      <div collapse="SearchRecipesList">
        <ul class="ListFormat">
          <li ng-repeat="recipe in AllSearchRecipes">
            <div class ="row singleRecipe">
              <div class="col-xs-10">{{recipe.recipeTitle}}</div>
              <div class="col-xs-4"> <img ng-src="http://83.254.221.239:9000/recipePicture/{{ recipe.recipeID }}?sessionID={{ session }}" width="75px" height="75px" ng-click="ShowSingleRecipe(recipe.recipeID)"/></div>
              <div class="col-xs-6">
              
              </div>
              <div class="col-xs-10">Created by: {{recipe.creator}}</div>
            </div>
          </li>
        </ul> 
      <!--Show All Favorites-->
    </div>
   
      <div collapse="MyFriends_Collapse">
        <ul class="ListFormat">
          <li ng-repeat="friend in AllMyFriends">
            <div class ="row singleRecipe">
              <div class="col-xs-10">{{friend.email}}</div>
              <div class="col-xs-4"> <img ng-src="http://83.254.221.239:9000/userPicture?sessionID={{ session }}&email={{friend.email}}" width="75px" height="75px" ng-click="ShowSingleRecipe(friend.email)"/></div>
              <div class="col-xs-6">   
               <button class="btn" ng-click = "RemoveFriend(friend.email)">remove Buddy </button>    

              </div>
            </div>
          </li>
        </ul> 
    </div>

    <!--Find Friends-->
    <div class='searchfriend' > 
        <input type="text" ng-model = 'SearchAFriend' class="form-control">
        <button class="btn" ng-click ="SearchFriends(false)"> Search Friends</button> 
        <p>  <div collapse="SearchFriendList">
        <ul class="ListFormat">
          <li ng-repeat="friend in AllUsersSearch">
            <div class ="">
              <div class="col-xs-10"> {{friend.email}} <img ng-src="http://83.254.221.239:9000/userPicture?sessionID={{ session }}&email={{friend.email}}" width="75px" height="75px" ng-click="ShowSingleRecipe(friend.email)"/></div>
              <div class="col-xs-10">
              <button class="btn" ng-click = "AddFriend(friend.email)">Add a Buddy </button> <hr>
              </div>
            </div>
          </li>
        </ul> 
        </div>
      </div>

    
   

  </div>



</body>
</html>