<!doctype html>

<html ng-app ='UserInfo'>
<head>
<title>
User Home Page
</title>
  <link rel="stylesheet" type="text/css" href= "../ExternalLib/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../Layouts/Basic_Layout.css">

	<script src="../ExternalLib/angular.min.js"></script>
  <script src="../ExternalLib/ui-bootstrap-tpls-0.12.0.js"></script>
	<script src="../JS/User_Info.js"></script>
  <script src="../JS/Bas_Home_Funcs.js"></script>
  <script src="../js/Post_recipe.js"></script>
 
</head>
<body class="generalBG">
  <div class="FSN_Head">
    <h1>Welcome Back "Victoria" (UserName)</h1>
    <h2> 'Meat' your 'Pears' </h2>
    <p>Hello "Victoria (User Name)", find what your friends have been up to here in the food social network. You can also upload a new recipe for them to try out. Dont forget to click on the 'submit' button after. Enjoy optical nutrition while going through the different recipes!
    </p>
    <br>

  </div>
  <!--The Modal For Creating Recipe-->



   <!--The Toolbar-->
  <div ng-controller="ButtonsControles">
     <div class="input-group input-group-lg">
      <div class="input-group-btn">
        <button class="btn" ng-click="Home_Collapse = !Home_Collapse">Home</button>
        <button class="btn" ng-click="URecipes_Collapse = !URecipes_Collapse">My Recipes</button>
        <button class="btn" ng-click="logout()">Logout</button>
        <button class="btn" ng-click="GetUserInfo()">Settings</button>
        <buttpm class="btn" ng-include src="template.url"></bitton>
      </div>
        <input type="text" class="form-control">
      <div class="input-group-btn">
        <button class="btn" >Search</button>
      </div>
      </div>
      <div collapse="URecipes_Collapse">
        <div class ="row singleRecipe">
          <div class="col-xs-10"> Recipe name</div>
          <div class="col-xs-4"> Picture</div>
          <div class="col-xs-6">
            <ul class="ListFormat">
              <li>Ingridiants 
              </li>
              <li>
                name blal blal
              </li>
            </ul>
          </div>
          <div class="col-xs-10">.Instructions</div>
        </div> 
    </div>
  </div>

  <div ng-controller="ButtonsControles">

  </div>


</body>
</html>