body.generalBG{

	background: rgb(255,204,102);
	text-align: center; 
}
 
h2.generalT{
	text-align:center; 
}
div.FSN_Head{
	border: 1px solid;
	border-color: rgb(204,153,204);
	width:960px;
	margin:0 auto;
}
div.AllRecepies{
	padding: 10px;
	border: 1px solid;
	border-color: rgb(204, 153, 204);
	background: white;
	width:960px;
	margin:0 auto;
	text-align: middle;
}
ul.ListFormat {
    display: block;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
li.Buttons{
	display: inline;
}
.btn{
	width:30%;
	background: rgb(204, 153, 204);
	border-style: none;
	margin:0 auto;
}
.btn.focus, .btn:focus {
	background: rgb(184, 133, 184);
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.input-group-btn>.btn:active{
    outline: none;
    -webkit-box-shadow: 0px 0px 3px rgb(184, 133, 184);
    box-shadow: 0px 0px 3px rgb(184, 133, 184);
}
.input-group{
	width:960px;
	margin:0 auto;
}