body.generalBG{

	background: rgb(255,204,102);
	text-align: center; 
}
img.PictureSmall{
	height: 75px;
	width: auto;
};
h2.generalT{
	text-align:center; 
}
div.FSN_Head{
	border: 1px solid;
	border-color: rgb(204,153,204);
	width:960px;
	margin:0 auto;
}
div.AllRecepies{
	padding: 10px;
	border: 1px solid;
	border-color: rgb(204, 153, 204);
	background: white;
	width:960px;
	margin:0 auto;
	text-align: middle;
}
ul.ListFormat {
    display: block;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
li.Buttons{
	display: inline;
}
.row.singleRecipe{
	border: 1px solid;
	border-color: rgb(204, 153, 204);
	width:960px;
	margin:0 auto;
	text-align: middle;
}

.btn{
	background: rgb(204, 153, 204);
	border-style: none;
	margin:0 auto;
	border-radius: 0px;
}

.btn.focus, .btn:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn:active,
.btn.active {
	background: rgb(184, 133, 184);
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .125);
          box-shadow: inset 0 0px 0px rgba(0, 0, 0, .125);
}

.btn:active.focus,
.btn.active.focus {
	background: rgb(184, 133, 184);
	outline: none;
	-webkit-box-shadow: 0px 0px 0px rgb(184, 133, 184);
    box-shadow: 0px 0px 0px rgb(184, 133, 184);
}


.input-group-btn>.btn:active{
	background: rgb(184, 133, 184);
    outline: none;
    -webkit-box-shadow: 0px 0px 0px rgb(184, 133, 184);
    box-shadow: 0px 0px 0px rgb(184, 133, 184);
}



.input-group{
	//background: rgb(184, 133, 184);
	width:960px;
	margin:0 auto;
}




.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	
	outline: thin dotted;
	outline: 0px auto -webkit-focus-ring-color;
	outline-offset: 0px;
}

div.searchfriend{
	position: absolute;
	right:0px;
	top: 0px;
	width: 200px;
}

div.searchafriend{
	position: absolute;
	right:0px;
	top: 0px;
	width: 200px;
}