 
body.generalB{

	background: rgb(255,204,102);
	text-align: center; 
}
 
h2.generalT{
	text-align:center; 
}

div.AllRecepies{
	
	padding: 10px;
	border: 5px solid;
	border-color: rgb(204, 153, 204);
	background: white;
	width:960px;
	margin:0 auto;
	text-align:left;
}
div.col-xs-10{
	border: 5px solid;
	border-color: rgb(204, 153, 204);
	background: white;
}
div.col-xs-4{
	border: 5px solid;
	border-color: rgb(204, 153, 204);
	background: white;
}
div.col-xs-6{
	border: 5px solid;
	border-color: rgb(204, 153, 204);
	background: white;	
}
table.recepie{
	position: relative;
	table-layout: auto;
	padding: 10px;
	border-collapse: separate;
	border-spacing: 10px 50px;
	border: 5px solid;
	border-color: rgb(204, 153, 204);
	margin: 0 auto;
	text-align:left;
}

td {
		border: 5px solid;
}
button.a{
	background: rgb(204, 153, 204);

}