h2 {color: yellow; font-size: 44px; text-align: center; }
h1 {color: rgb(204,153,204); font-size: 22px; font-style: italic; text-align: center;}


button.btn {
    background-color: rgb(204,153,204);
    border: groove;
    margin: 10px;
}


body 
{
    background: rgb(255,204,102); text-align: center;
}

input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
}
div.createaccount{
     height: 500px;
     
     background-color: ;
}
h3.modaltitle{color:red; font-size: 44px}
