h2 {color: yellow; font-size: 44px}
h1 {color: rgb(204,153,204); font-size: 22px; font-style: italic;}

button.btn {
    background-color: rgb(204,153,204);
    border: groove;
}


body 
{
    background: rgb(255,204,102);
}

