body { 
	background-color:rgb(255,204,102);
	text-align: center;
} 
h2{
	font: small-caps;
	font-size: 24;
	text-align: center;
	text-decoration: underline;
}
h1 {
	font: serif;
	font-size: 18;
	font-family: sans-serif;
	color: black;
	text-align: center;
}
label {
	font: italic;
	font-size: 20;
	color: rgb(204,153,204);
	margin: 10px;
	text-align: center;
}

textarea#styled {
	width: 600px;
	height: 520px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

textarea#styled2 {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	resize: none;
}


